{% extends "base.html" %}

{%block titulo%} Nosotros {% endblock %}

{%block contenido%} 

<!DOCTYPE html>
<html>
<head>
  <title>Nombres e Identificaciones centradas</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Sonia Marcela Granados Moreno</h1>
  <p>2204250</p>

  <h1>Yonathan Camilo Benítez Mancipe</h1>
  <p>2204133</p>
</body>
</html>


{% endblock %}
